.genres-section12 {
  background-color: white;
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 100%;
}
.carousel-control-prev {
  left: -30px; /* Ajusta la distancia a la izquierda */
  transform: translateX(-100%); /* Mueve la flecha más a la izquierda */
}
.carousel-control-next {
  right: -30px; /* Ajusta la distancia a la derecha */
  transform: translateX(100%); /* Mueve la flecha más a la derecha */
}

.carousel-indicators {
  display: none;
}
.container44{
  position: relative;
  display: flex;
  align-items: center;
}
.genre-card12 {
  border: 1px solid  #f3f4f6;
  ; /* Ajusta el borde según el estilo deseado */
  border-radius: 9px; /* Opcional: Bordes redondeados */
}
.card{
  background-color: #f3f4f6;
}

.genre-card12 .card-body {
  padding: 10px;
   background-color: #f3f4f6; /* Fondo gris claro */
}

h3.m-0 {
  margin: 0;
  font-size:20px;
  font-weight: normal;
}

.carousel-control-prev, .carousel-control-next {
  filter: invert(1);
}
.icon-text-container44 {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
}